<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Insert percentage!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <% if (messages.success) { %>
              <p class="alert alert-success m2-4 mb-2"><%- messages.success %></p>
          <% } %>  
 
          <h2>Insert percentage!</h2>
          <form action="submit-perc" method="POST">
            <div class="form-group">
              <label for="percentage">Percentage</label>
              <input type="int" class="form-control col-lg-9" id="percentage" placeholder="Enter percentage (0-100)" name="percentage">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
  </body>
</html>